/* #region base styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
  /*padding-left: 15px;
  padding-right: 15px;*/
  /* outline: 1px solid red; */
}

.section {
  padding: 120px 0;
}

.card-list {
  display: flex;
  gap: 24px;
  /* flex-wrap: wrap;
  row-gap: 48px; */
}
/* #endregion */

/* #region header styles */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
}
.page-header .container {
  display: flex;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region hero styles */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  min-width: 169px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region Our Features*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.feature-item {
  width: calc((100% - 3 * 24px) / 4);
}
/* #endregion*/

/* #region our-team styles */
.our-team {
  background-color: #f4f4fd;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.avatar-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.team-card-content {
  padding: 32px 16px;
}

.team-member-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion */

/* #region our-portfolio styles */
.our-portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio-list {
  text-align: left;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 2 * 24px) / 3);
}

.portfolio-info {
  /* border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc; */
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion */

/* #region footer styles */
.page-footer {
  background-color: #2e2f42;
}

.page-footer.section {
  padding: 100px 0;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}
.slogan {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.page-footer-content {
  max-width: 264px;
}
/* #endregion */
